<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="URL" value="https://rahulshettyacademy.com/AutomationPractice/"></parameter>
  <test name="RS Demo">
    <classes>
      <class name="Test.Demo1">
		<methods>
			<exclude name="T2"/>
			<exclude name="T3"/>
		</methods>
      </class>
      
      <class name="Test.Demo2">
      <methods>
			<include name="T1"/>
		</methods>
      </class>
      
      <class name="Test.Demo3"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
